<<<<<<< HEAD
body{
    background-color:rgb(183, 233, 183);
    
}
.card{

    margin-top:50px;    
    margin-left:500px;
    background-color:lightyellow;
    padding:20px;
    border-radius:10px;
}

form{
    
    margin-top:20px;
    width: 260px;
}
form input{
    width: 300px;
    margin-top:5px;
    margin-bottom:10px;
}
form label{
    font-weight: bold;
}
form button{
    width: 200px;
    margin-top:10px;
    margin-bottom:5px;
    
}
form button:hover{
    background-color:green;
    color:white;
    font-weight: bold;
}
form input:hover{
    background-color:lightgreen;
    font-weight: bold;
}
.result {
            margin-top: 20px;
            padding: 15px;
            border-radius: 8px;
            background: #e9f7ef;
            border: 1px solid #c3e6cb;
        }
        .result h3 {
            margin-top: 0;
            color: #155724;
        }

=======
body{
    background-color:rgb(183, 233, 183);
    
}
.card{

    margin-top:50px;    
    margin-left:500px;
    background-color:lightyellow;
    padding:20px;
    border-radius:10px;
}

form{
    
    margin-top:20px;
    width: 260px;
}
form input{
    width: 300px;
    margin-top:5px;
    margin-bottom:10px;
}
form label{
    font-weight: bold;
}
form button{
    width: 200px;
    margin-top:10px;
    margin-bottom:5px;
    
}
form button:hover{
    background-color:green;
    color:white;
    font-weight: bold;
}
form input:hover{
    background-color:lightgreen;
    font-weight: bold;
}
.result {
            margin-top: 20px;
            padding: 15px;
            border-radius: 8px;
            background: #e9f7ef;
            border: 1px solid #c3e6cb;
        }
        .result h3 {
            margin-top: 0;
            color: #155724;
        }

>>>>>>> 3d7a8e84d0b5b2bab93b45629bd2d62ccb481133
