body {
    background: #f2f4f7;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    margin: 80px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 80px;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    width: 48%;
    padding: 10px;
    background: #0d6efd;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #084298;
}

#status {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}





table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #0d6efd;
    color: white;
}
